
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    background-color: #222; /* Light black */
}

.image-text-container {
    display: flex;
}

.image {
    width: 500px; /* Adjust image width as needed */
    margin-right: 4rem;
}

.text {
    flex-grow: 1;
    color: #fff; /* Text color for better contrast */
}
.green-title {
    color: green;
}