
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
  <header>
    <h1>Welcome to My Website</h1>
    <nav>
      <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/services}">Service</a></li>
        <li><a th:href="@{/about}">About Us</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>
<div th:fragment="fraTest">
  <h1>Hello fragment Test</h1>
</div>

<div th:fragment="footer">
  <footer>
    <p>&copy; 2023 My Website. All rights reserved.</p>
  </footer>
</div>
</body>
</html>
