<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="home">
   <h2>Non-Emergency Medical Transportation</h2>
  <p>
    We provide customized transportation to passengers who require regular visits to dialysis centers, day programs, doctor’s offices,
      and other healthcare facilities across Seattle Washington. ​CPR leverages its fleet of 3 vehicles and staff of 3 employees to provide safe,
      efficient, and affordable transportation.
  </p>

</div>
</body>

</html>